@charset "utf-8";

#originalFooter * {
  margin: 0;
}

#originalFooter .logo_block {
  margin-bottom: 30px;
  margin-top: 30px;
}

#originalFooter .logo_block .logo {
  text-align: center;
}

#originalFooter .navigation_block {
  margin-bottom: 30px;
}

#originalFooter .navigation_block .navi .list .list_item {
  display: block;
}

#originalFooter .sns_block .list_item_image {
  width: 30px;
}

#originalFooter .sns_block {
  margin-bottom: 30px;
}

#originalFooter .copyRight {
  text-align: center;
  padding-bottom: 30px;
}

/******************************
	Media Query
*******************************/
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
