{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div id="contents" class="main_only">
    <div id="privacy_wrap" class="container-fluid inner no-padding">
        <div id="main">
            <h1 class="page-heading">プライバシーポリシー</h1>
            <div id="privacy_box" class="container-fluid">
                <div id="privacy_box__body" class="row">
                    <div id="privacy_box__body_inner" class="col-md-10
                        col-md-offset-1">
                        <p id="privacy_box__declaration">
                            {% if BaseInfo.company_name is not null %}
                            {{ BaseInfo.company_name }}は、
                            {% endif %}
                            個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」及び本プライバシーポリシーを遵守し、お客さまのプライバシー保護に努めます。
                        </p>
                        <div class="poricyList_block">
                            <ul class="list">
                                <li class="list_item">・当社では、お客様との取引やサービスを提供するためにお客様の個人情報を適法に収集し、その範囲内で収集した個人情報を利用いたします。</li>
                                <li class="list_item">・収集したお客様の個人情報は、原則としてお客様の承諾を得ない第三者または取引先(当社の業務委託先への預託を除く)
                                    等に対して提供・開示はいたしません。</li>
                                <li class="list_item">・お客様の個人情報は、紛失・破壊・改ざん・漏洩・不正アクセス等が生じないようにセキュリティ対策を講じて適正に管理いたします。</li>
                                <li class="list_item">・個人情報保護法などの法令・ガイドラインを遵守して、お客様の個人情報を取扱ってまいります。</li>
                                <li class="list_item">
                                    ・当社は、お客様との取引やサービスを提供するために個人情報に関する取扱いを外部に委託することがありますが、その場合には、適正な取扱いを確保するため、契約の締結、当社の個人情報保護の方針の周知徹底、実施状況の点検などを行ってまいります。
                                </li>
                                <li class="list_item">・お客様がご自身の個人情報について内容の照会、訂正、削除、利用の停止を求められる場合には、当社窓口までご連絡お願いいたします。</li>
                                <li class="list_item">
                                    ・当社は、お客様の個人情報の取扱いが適正に行われるよう従事者への教育を実施し、当該適正な取扱いにつき定期的に点検するとともに、個人情報保護の取り組を必要に応じて随時見直し、改善してまいります。</li>
                                <li class="list_item">・当社の個人情報の取扱いに関するお問合せは下記までご連絡お願いいたします。</li>
                                <li class="list_item">
                                    <p class="list_item_text">
                                        〒150-0001<br>
                                        東京都渋谷区神宮前 五丁目29番10号 クリプトメリア神宮前ビル 4F<br>
                                        株式会社GIVIN EC事業部<br>
                                        営業時間：10:00-19:00<br>
                                        土、日、祝日定休
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </div>
        </div>
    </div>
</div>
{% endblock %}