@charset "utf-8";

.mio .flowline li,
.mio .cart_item .item_box .table .item_name a,
.mio .item_price {
    color: #ffffff;
}

.mio .flowline li.active {
    color: #ffa3a3;
}

.mio .total_box__top_button,
.mio .btn-info {
    color: #333333;
}