<!-- originalHeader -->
<div id="originalHeader" class="template">
	<div class="container">
		<div class="logo_block">
			<div class="header_logo_wrapp">
				<h1 class="header_logo">
					<a class="header_logo_link" href="{{ url('homepage') }}">
						<img src="{{ app.config.front_urlpath }}/img/common/logo.svg" width="50">
					</a>
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- /originalHeader -->