<div class="luxury_street template">
    <div class="container">
        <div class="image-block">
            <img class="image" src="{{app.config.front_urlpath}}/img/common/luxury-street.svg" alt="luxury-street">
        </div>
        <div class="text-block">
            <p class="text">移り変わるトレンドの最先端と 洗練されたデザインを</p>
        </div>
    </div>
</div>