<div id="news" class="template">
    <div class="container">
        <div class="title-block">
            <h2 class="title">
                <img class="image" src="{{ app.config.front_urlpath }}/img/common/news-title.svg">
            </h2>
        </div>
        <div class="news-list-block">
            <ul class="list">
                <li class="list-item">
                    <div class="title-block">
                        <h3 class="time">2020.03.25</h3>
                        <div class="label">
                            <img class="image" src="{{ app.config.front_urlpath }}/img/icon/label-new.svg">
                        </div>
                    </div>
                    <div class="detail-block">
                        <p class="text">Insta Live予定(03/25 22:00~)</p>
                        <p class="text"  style="color:lightblue;"><a href="https://www.instagram.com/mio.official_/">詳細はOfficial Instagramにて</a></p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="title-block">
                        <h3 class="time">2020.03.25</h3>
                        <div class="label">
                            <img class="image" src="{{ app.config.front_urlpath }}/img/icon/label-new.svg">
                        </div>
                    </div>
                    <div class="detail-block">
                        <p class="text">期間中購入者の中から抽選で</p>
                        <p class="text">100名様にランダムチェキをプレゼント</p>
                        <p class="text">(内20枚は、サイン入りチェキ)</p>

                    </div>
                </li>
            </ul>
        </div>
<!--
        <div class="button-block">
            <a class="button-link" href="#">
                <img class="button-image" src="{{ app.config.front_urlpath }}/img/common/button-more.svg">
            </a>
        </div>
-->
    </div>
</div>