<div id="item03" class="item-layout">
    <div class="container">
        <div class="image-block">
            <img class="image" src="{{ app.config.front_urlpath }}/img/item/item03-img.png">
        </div>
        <div class="detail-block">
            <div class="text-block">
                <h3 class="title"><img src="{{ app.config.front_urlpath }}/img/item/item03-title.svg"></h3>
                <p class="text">商品名商品名商品名商品名</p>
            </div>
            <div class="button-block">
                <a class="button-link" href="#">
                    <img class="button-image" src="{{ app.config.front_urlpath }}/img/common/button-more.svg">
                </a>
            </div>
        </div>
    </div>
</div>