<div id="item04" class="item-layout">
    <div class="container">
        <div class="image-block is-left">
            <img class="image" src="{{ app.config.front_urlpath }}/img/item/item01-img.jpg">
        </div>
        <div class="detail-block is-left">
            <div class="text-block">
                <h3 class="title"><img src="{{ app.config.front_urlpath }}/img/item/item01-title.svg"></h3>
                <p class="text">m/o Logo _ Parker</p>
            </div>
            <div class="button-block">
                <a class="button-link" href="https://mioofficial.jp/products/detail/9">
                    <img class="button-image" src="{{ app.config.front_urlpath }}/img/common/button-more.svg">
                </a>
            </div>
        </div>
    </div>
</div>