<div id="item01" class="item-layout">
    <div class="container">
        <div class="image-block">
            <img class="image" src="{{ app.config.front_urlpath }}/img/item/item04-img.jpg">
        </div>
        <div class="detail-block">
            <div class="text-block">
                <h3 class="title"><img src="{{ app.config.front_urlpath }}/img/item/item04-title.svg"></h3>
                <p class="text">CHARACTER PRINT _ PARKER</p>
            </div>
            <div class="button-block">
                <a class="button-link" href="https://mioofficial.jp/products/detail/8">
                    <img class="button-image" src="{{ app.config.front_urlpath }}/img/common/button-more.svg">
                </a>
            </div>
        </div>
    </div>
</div>