@charset "utf-8";

#guide .navigation_block {
  margin-bottom: 80px;
}

#guide .navigation_block nav .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

#guide .navigation_block nav .list .list_item {
  width: 50%;
  text-align: center;
  padding: 5px;
}

#guide .navigation_block nav .list .list_item .list_item_link {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
}

#guide .contents_block {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#guide .contents_block .contents_box {
  margin-bottom: 80px;
}

#guide .contents_block .contents_box .title {
  margin-bottom: 20px;
}
