@charset "utf-8";

.mio .main_visual video {
    width: 100%;
}

/* PCサイズコンテンツ幅調整 */
#page_homepage.mio #contents_bottom {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) {}