@charset "utf-8";

.all_itemListLayout .title_block {
  margin-top: 40px;
  margin-bottom: 40px;
}

.all_itemListLayout .title_block .title {
  text-align: center;
  font-weight: normal;
  font-size: 5vw;
  color: #555;
  letter-spacing: 1vw;
  font-family: "DM Serif Display", serif;
}

.all_itemListLayout .itemList_block .itemList_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all_itemListLayout .itemList_block .itemList_list .item_block {
  width: calc(50% - 4px);
  margin-bottom: 20px;
}

.all_itemListLayout .itemList_block .detail_block .title .text_link {
  font-family: "utsukushi";
  font-weight: normal;
}

.all_itemListLayout .itemList_block .detail_block .price_text {
  font-family: "montserrat";
  color: #7c7c7c;
}

/******************************
	Media Query
*******************************/
@media only screen and (min-width: 768px) {
  .all_itemListLayout .title_block {
    margin-bottom: 80px;
  }

  .all_itemListLayout .title_block .title {
    font-size: 24px;
  }

  .all_itemListLayout .itemList_block .itemList_list::before {
    content: "";
    display: block;
    width: calc(25% - 16px);
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .all_itemListLayout .itemList_block .itemList_list::after {
    content: "";
    display: block;
    width: calc(25% - 16px);
  }

  .all_itemListLayout .itemList_block .itemList_list .item_block {
    width: calc(25% - 16px);
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
}
